.container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.container.scrolled {
  background-color: rgba(255, 255, 255, 0.7);
}


ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 2rem;
}

a:hover {
    border-bottom: 2px solid black;
}

@media screen and (max-width: 450px) {
  .container {
    display: none;
  }
    
}