<section>
<div class="container">
    <div class="inner-container">
        <div class="title">
            <h2>Drop-off Locations</h2>
        </div>
    <div class="list">
        <ul>
            <li>
                Causeway at Dunedin
                <ul>
                    <li>
                        <address>
                            <a href="https://www.google.com/maps?q=Causeway+Dunedin" target="_blank"> Causeway Blvd, Dunedin, FL 34698 </a>
                        </address>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                St. Petersburg
                <ul>
                    <address>
                        <a href="https://www.google.com/maps/place/St+Pete+Beach,+FL/@27.7180991,-82.8514693,12z/data=!3m1!4b1!4m6!3m5!1s0x88c3029f9de5dea9:0x98aafcc9726f8c6a!8m2!3d27.7428134!4d-82.7504542!16zL20vMHJyNXg?entry=ttu" target="_blank"> St. Pete Beach </a>
                    </address>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Interested in another Drop-off Location?
                <ul>
                    <address>
                        <a href="mailto:Machinmotorsportsllc@gmail.com"> Email us now to Inquire </a>
                    </address>
                </ul>
            </li>
        </ul>
    </div>
     
    </div>
    <div class="inner-container">
        <div class="title">
            <h2>Hours & Contact Information</h2>
        </div>
        <div class="content">
            <p>Open 7 days a week (weather-permitting)</p>
            <p>9:00am - Sunset</p>
            <p><a href="tel:8133044013">813-304-4013</a> | <a href="mailto:Machinmotorsportsllc@gmail.com">Machinmotorsportsllc@gmail.com</a></p>
        </div>
    </div>
    <div class="inner-container">
        <img src="../../assets/logo.png" alt="Logo">
    </div>
</div>
</section>