<section id="book">
    <div class="container">
        <h2 class="title">Jetski Packages</h2>
        <div class="inner-container">
            
                <div class="image">
                    <!-- <img src="https://images.unsplash.com/photo-1555149385-c50f336e28b0?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> -->
                    <div class="info">
                        <h2>1 Jetski</h2>
                        <a href="#" class="custom_button btn-simple templates_color active" style="background-color: rgb(70, 155, 198); text-align: center; display: flex; align-items: center; justify-content: center; cursor: pointer; width: auto; height: 40px; padding: 8px 20px; color: rgb(255, 255, 255); font-size: 15px; font-weight: 400; border-radius: 7px; text-decoration: none; max-width: 200px; visibility: visible; border-color: rgb(231, 231, 231);" alt="Booknow button" target="_blank" id="app-scheduling" data-domain-name="https://machinmobilemotorsports.bookafy.com/schedule/?type=iframe&custom_embed=true&locale=en">Book Now</a>
                    </div>
                </div>
            
        </div>
        <!-- <div class="inner-container"> -->
            
                <!-- <div class="image image2">
                     <img src="https://images.unsplash.com/photo-1555149385-c50f336e28b0?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> -->
                    <!-- <div class="info">
                        <h2>2 Jetski</h2>
                        <button routerLink="/booknow">Book Now</button>
                    </div>
                </div> -->
              
           
        <!-- </div> -->
    </div>
</section>