section {
    height: 1000px;
    width: 100%;
    /* background-image: url(https://images.unsplash.com/photo-1561063139-09996cdf3f49?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-container {
    width: 450px;
    margin: 50px;
    height: 600px;
    border-radius: 50px;
    position: relative;
}



.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 130px;
    background-color: rgb(80, 210, 249);
    color: white;
}


.image {
    width: 100%;
    height: 100%;
    filter: brightness(1);
    background: url(https://images.pexels.com/photos/18636559/pexels-photo-18636559/free-photo-of-man-on-jet-ski.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 50px;
    /* border: 2px solid rgba(0, 0, 0, 0.44); */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.image2 {
    background: url(https://images.pexels.com/photos/33046/jet-ski-water-sport-water-bike-water.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-position-x: -120px;
}


img {
    width: 100%;
    border-radius: 50px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 3rem;
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: white;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: space-evenly;
    /* transform: translateY(-200px); */
    
}

button {
    background-color: rgb(80, 210, 249);
    border: solid 2px rgb(80, 210, 249);
    color: white;
    font-size: 25px;
    border-radius: 10px;
    border: solid 9px white;
    transition: all 0.3s ease;
    padding: 1rem;
    border-radius: 50px;

}

button:hover {
    transition: all 0.3s ease;
    background-color: rgb(80, 249, 204);
    border: solid 2px rgb(80, 249, 204);
    /* border: solid 10px white; */
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        margin: 0 auto;
    }

    .inner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* outline: 2px solid red; */
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .image {
        width: 70%;
        height: 80%;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .image2 {
        transform: translateY(-50px);
    }

    .title {
        position: relative;
        font-size: 35px ;
    }

    section {
        height: 100%;
    }

    button {
        font-size: 15px;

    }

    .info h2 {
        font-size: 20px;
    }

    .info {
        padding: 0;
        height: 100px;
        /* outline: 2px solid red; */
        overflow: hidden;
    }
}