section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}




.container2 {
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1564633351631-e85bd59a91af?q=80&w=2896&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

h2 {
    font-size: 60px;
    padding: 2rem;
    margin: 0;
}

ul {
    padding: 2rem;
}

button {
    background: black;
    color: white;
    font-size: 40px;
    padding: 1rem;
    border-radius: 5px;
    border: solid 2px black;
    margin: 0;
    outline: none;
    transition: all 0.3s ease;
}

button:hover {
    transition: all 0.3s ease;
    background-color: rgb(80, 210, 249);
    border: solid 2px rgb(80, 210, 249);

    color: black;
    cursor: pointer;
}




button a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 450px) {
    section {
        position: relative;
    }
    .container2 {
        position: absolute;
        width: 100%;
        filter: brightness(0.4);
    }

    .container {
        z-index: 1;
        background: white;
        height: 90%;
        width: 90%;
        border-radius: 10px;
    }

    h2 {
        font-size: 35px;
    }


   li {
    font-size: 14px;
   }

   button {
    font-size: 25px;
    transform: translateY(-50px);
   }

}