<section id="requirements">
    <div class="container">
        <h2>Requirements</h2>
        <h4><strong><u>AGE REQUIREMENTS:</u></strong></h4>
        <ul>
            <li>YOU MUST BE 18 YEARS OF AGE TO RENT A PERSONAL WATERCRAFT IN FLORIDA</li>
            <li>16 OR OLDER IF ACCOMPANIED BY A PARENT OR GUARDIAN</li>
            <li>Minimum age for passengers is 12</li>
        </ul>
        <h4><strong><u>FLORIDA RENTAL EXAM:</u></strong></h4>
        <ul>
            <li>For anyone born after January 1st, 1988:
                <ul>
                    <li>
                    Per State Law, In order to rent a jet ski in the State of Florida, you must complete the <strong><u><a href="https://boattests101.com/united-states/florida/florida-rental?mcid=V3fThCD8" target="_blank">Online Temporary Boaters Exam</a></u></strong>. The cost of the exam is $10 and consists of 25 questions. The cost and exam are controlled by the State and has no affiliation with Machin Mobile Motorsports. Only the driver needs to complete the exam, passengers do not need to complete exam.
                    </li>
                </ul>
                </li>  
        </ul>
    
       <button> <a href="#book">Book Now!</a></button>

    </div>
    <div class="container2">
        
    </div>
</section>